<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./swiper-4.5.3/dist/css/swiper.min.css"> 
    <link rel="stylesheet" href="style/honepage.css" type="text/css">
    <title>尘灰音乐</title>
    <style type="text/css">
        body{
            background: rgb(233, 247, 255);
        }
        ::-webkit-scrollbar{
            display: none;
        }
    </style>
</head>
<body>
    <div id="home_page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- 歌曲 详情页 -->
                <div class="swiper-slide">
                    <div class="song_detail_header">
                        <div id="play_box"></div>
                        <div id="music_lyric"></div>
                    </div>
                    
                    <div class="song_detail_footer">
                        <div id="music_comment"></div>
                    </div>
                </div>
                <!-- 歌曲 主页 -->
                <div class="swiper-slide">
                    <div class="head">
                        <!-- 搜索 -->
                        <div class="search-box">
                            <input id="search-txt" class="swiper-no-swiping" type="text" placeholder=" 搜索歌曲"  v-model="query" @keyup.enter="searchMusic()" autocomplete="off">
                            <button class="search-btn" @click="searchMusic()"> <i class="fa fa-search"  ></i></button>
                        </div>
                        <!-- 社交媒体 -->
                        <div class="songVedio">
                            <a class="mv_btn" href="javascript:;" @click="hotMusic()">
                            <i class="fa fa-youtube-play" ></i>
                            </a>
                        </div>
                    </div>
                    <!-- 歌曲选择 -->
                    <div class="song_list">
                        <ul>
                            <li v-for="(item,index) in musicList">
                                <a href="javascript:;"  @click="playMusic(item.id);getLyric(item.id);isPlay(index)" ><i :id= "setSongId(index)" class="fa fa-play-circle"></i> </a>
                                <b>{{item.name+'——'}}</b><b>{{item.artists[0].name}}</b>
                            </li>
                        </ul>
                    </div>
                    <!-- 歌词 -->
                    <div id="lyric_con" v-html="lyric"></div>
                    <!-- 导航按钮 -->
                    <div class="swiper-button-next"></div>
                    <!-- 滚动条-->
                    <div class="swiper-scrollbar"></div>
                </div>
                
            </div>      
        </div>
        <div class="audio_con">
            <audio ref="audic" :src="musicUrl" id="myaudio" loop controls autoplay></audio>
        </div> 
    </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./swiper-4.5.3/dist/js/swiper.min.js"></script>
    <script src="./js/song.js"></script>
    <script src="./js/swiper.js"></script>
    
</body>
</html>