#lyric_con{
    width: 375px;
    height: 520px;
    padding-top: 20px;
    position: relative;
    left: 970px;
    top: 40px;
    background-color:rgb(255, 255, 255,0.6);
    text-align: center;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow-y: scroll;
    border-radius: 25px;
}
#lyric_con::-webkit-scrollbar {
    width: 5px;
}
#lyric_con::-webkit-scrollbar-track-piece {
    display: none;
}