.songVedio{
    position: relative;
    left: 55%;
    top: 16px;
}
.mv_btn{
    display: inline-block;
    width: 75px;
    height: 55px;
    background: white;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: rgb(122, 184, 255);
    overflow: hidden;
    text-align: center;
    margin-left: 30px;
}
.mv_btn i {
    line-height: 55px;
    font-size: 26px;
    transition: 0.3s;

}

.mv_btn:active{
   color: rgb(148, 207, 255);
}
.mv_btn:hover i{
    transform: scale(1.5);
    color: rgb(102, 169, 224);
}


